
<h1>Create New To-Do Item</h1>
<form action="/ToDoitems/create" method="post">
	<label for="name">Your name</label><br />
	<input type="text" name="name" value="" required /><br /><br />
	<button type="submit" style="background-color: blue; color: white;">Create</button>
</form>
